<div class="spliter1"></div>

<div id="mylink1">
  <div>
  <% Category.on_top.roots.each do |r| %>
  <ul class="unstyled">
    <li><h4><%= r.title %></h4></li>
    <% r.children.each do |c| %>
    <li><%= link_to c.title, page_path(r, c) %></li>
    <% end %>
  </ul>
  <% end %>
  <ul class="unstyled padding">
    <li><h4>专题</h4></li>
    <% Category.find(23).children.limit(4).each do |c| %>
    <li><%= link_to c.title, topic_path(c, c.children.first) %></li>
    <% end %>
  </ul>
  <ul class="unstyled last">
    <li><h4>其它链接</h4></li>
    <li>网上评课</li>
    <li>教学资源</li>
  </ul>
  </div>
</div>

<div id="mylink2">
  <div>
    <span><a href="http://www.gdhed.edu.cn/index-c2.php" target="_blank">广东省教育厅网</a></span>
    <span><a href="http://218.16.100.110" target="_blank">东莞教育信息网</a></span>
    <span><a href="http://www.dgjyw.com/" target="_blank">东莞教研网</a></span>
    <span><a href="http://www.sun0769.com/" target="_blank">东莞阳光网</a></span>
    <span><a href="http://edu.gd.chinamobile.com/gdhtm/index.htm" target="_blank">校讯通平台</a></span>
    <span><a href="http://www.dglbjy.net/" target="_blank">寮步教育信息网(外网)</a></span>
    <span><a href="http://10.155.224.6/" target="_blank">寮步教育信息网(内网)</a></span>
    <span><a href="http://mail.163.com/" target="_blank">《寮步教育》邮箱</a></span>
    <span><a href="http://xiaoxue.ruiwen.com/" target="_blank">小学语文教学资源网</a></span>
    <span><a href="http://www.pep.com.cn/xiaoyu/" target="_blank">小学语文（人教版）</a></span>
    <span><a href="http://www.pep.com.cn/xxsx/" target="_blank">小学数学（人教版）</a></span>
    <span><a href="http://www.pep.com.cn/xe/" target="_blank">小学英语（人教版）</a></span>
  </div>
</div>

<div id="myfooter">
  <div>
    <span class="pull-left"><%= image_tag(image_path('dglbxx_logo.png'))%></span>
    <span class="pull-left">
      <ul class="unstyled">
        <li>地址: 东莞市寮步镇西溪村  电话: 0769-83036118  传真: 0769-83037003</li>
        <li>Copyright &copy; <%= Time.now.strftime('%Y') %> <a href="/">东莞市寮步镇西溪小学</a> 粤ICP备12044958号-1</li>
      </ul>
    </span>
    <span class="pull-right"><%= link_to '管理员入口', admin_index_path, class: 'login_link' %></span>
  </div>
</div>

<!-- Developed by imlcl.com -->
