<div class="top-links">
  <div class="top-links-inner">
    <div class="pull-right">
      <ul class="unstyled">
        <% TopLink.all.each do |link| %>
        <li><%= link_to link.title, link.href, target: '_blank' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/"><%= image_tag(image_path('logo_top.png'))%></a>
      <div class="container nav-collapse">
        <ul class="nav pull-right">
          <li class="<%= 'active' if request.env['PATH_INFO'] == root_path %>"><a href="/">首 页</a></li>
          <% Category.on_top.roots.each_with_index do |c| %>
            <li class="<%= 'active' if ( params[:children_id] and Category.find(params[:children_id]).root == c ) or ( params[:id] and Post.find(params[:id]).category.root == c ) %>">
              <%= link_to c.title, page_path(c, c.children.first) %>
            </li>
          <% end %>
      </div>
    </div>
  </div>
</div>
