<% content_for :body do %>
<link rel="stylesheet" type="text/css" href="/css/custom.css">

<%= render 'layouts/index_top_menu' %>

<div class="row_1">
  <div class="row_1-inner">
    <div id="myCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <% Category.roots.first.children.first.posts.order(id: :asc).each_with_index do |p, index| %>
        <li data-target="#myCarousel" data-slide-to="<%= index %>" class="<%= "active" if index == 0 %>"></li>
        <!-- <li data-target="#myCarousel" data-slide-to="1"></li> -->
        <% end %>
      </ol>
      <div class="carousel-inner">
        <% Category.roots.first.children.first.posts.order(id: :asc).each_with_index do |p, index| %>
        <div class="item <%= "active" if index == 0 %>">
          <img src="<%= p.image.thumb1.url %>" alt="" width="660" height="380">
          <div class="carousel-caption">
            <p class="title"><%= p.title %></p>
            <p><%= strip_tags p.content %></p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="big_title" class="row">
    <div class="span3" style="width: 390px;">
      <h3><a href="<%= page_path(8,9) %>">校园新闻 <i class="icon-circle-arrow-right"></i></a></h3>
      <ul class="unstyled myul">
        <% Category.find(9).posts.limit(3).each do |post| %>
        <li>
          <div class="pic">
            <a href="<%= view_post_path(post) %>" title="<%= post.title %>"><%= image_tag post.image.thumb4.url %></a>
          </div>
          <div class="title">
            <a href="<%= view_post_path(post) %>" title="<%= post.title %>"><%= post.title %></a>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="span3" style="width: 220px;">
      <h3><a href="<%= topic_index_path %>">专题 <i class="icon-circle-arrow-right"></i></a></h3>
      <div id="myCarousel2" class="carousel slide">
        <ol class="carousel-indicators">
          <% Category.find(23).children.on_top.limit(5).each_with_index do |c, index| %>
          <li data-target="#myCarousel2" data-slide-to="<%= index %>" class="<%= "active" if index == 0 %>"></li>
          <% end %>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
          <% Category.find(23).children.on_top.limit(5).each_with_index do |c, index| %>
          <div class="item <%= "active" if index == 0 %>">
            <a href="<%= topic_path(c, c.children.first) %>">
              <img src="<%= c.image.thumb.url %>">
              <div class="carousel-caption"><p class="text-center"><%= c.title %></p></div>
            </a>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div id="announcement" class="span3" style="width: 300px;">
      <h3><a href="<%= page_path(8,11) %>">最新公告 <i class="icon-circle-arrow-right"></i></a></h3>
      <ul class="unstyled">
        <% Category.find(11).posts.limit(5).each do |p| %>
        <li>
          <span class="title pull-left">
            <a href="<%= view_post_path(p) %>" title="<%= p.title %>"><i class="icon-angle-right icon-large"></i> <%= p.title %></a>
          </span>
          <span class="pull-right"><%= p.created_at.strftime('%Y-%m-%d') %></span>
        </li>
        <% end %>
      </ul>
    </div>
  </div><!--/row-->
</div>

<script type="text/javascript">
$('#myCarousel').carousel({
  interval: 8000
});
$('#myCarousel2').carousel({
  interval: 10000
});
</script>

<%= render 'layouts/footer' %>
<% end %>
<%= render 'layouts/base' %>
