<% content_for :body do %>
<link rel="stylesheet" type="text/css" href="/css/custom.css">
<link rel="stylesheet" type="text/css" href="/colorbox/colorbox.css">
<style type="text/css">
#page_menu { padding-top: 45px; padding-bottom: 15px;}
#page_menu a { color: #878787; font-size: 16px; text-decoration: none; }
#page_menu a.active { color: #333333; }
#page_menu a:hover { color: #137759; }
#page_menu a:nth-child(n+2){ margin-left: 50px; }

.wrapper { position: relative; width: 950px; margin: 20px auto; }
.wrapper .grid {
  width: 180px;
  padding: 10px;
  border: 1px solid #bbb;
  background: #fefefe;
  padding: 10px;
  right: 0;
  top: 0;
  position: absolute;
  box-shadow: 3px 3px 3px #ddd;
  height: 150px; 
}
.wrapper .grid img { width: 100%; width: 180px; height: 112px; }

.loading { text-align: center; margin-top: 20px; font-size: 1.2em; }
.more { text-align: center; margin-top: 20px; display: none; }
.more input { width: 120px; height: 50px; font-size: 1.2em; }
</style>

<%= render 'layouts/index_top_menu' %>

<div class="container">
  <%= render 'layouts/page_menu' %>
  <div id="page_content">
    <div id="wrapper" class="wrapper">
      <% @posts.each do |post| %>
      <div class="grid">
        <p><a class="group1" href="<%= post.image.url %>" title="<%= post.title %>"><%= image_tag post.image.thumb3.url %></a></p>
        <p><%= post.title %></p>
      </div>
      <% end %>
    </div>
    <div id="loading" class="loading">加载中...</div>
    <div id="more" class="more"><input type="button" value="更 多" id="clear" /></div>
    <script src="/js/jraiser2/jraiser2.js"></script>
    <script src="/js/jraiser2/config.js"></script>
    <script src="/js/jraiser2/init-waterfall.js"></script>
    <script src="/colorbox/jquery.colorbox-min.js"></script>
    <script src="/colorbox/jquery.colorbox-zh-CN.js"></script>
    <script type="text/javascript">
    $("#wrapper").bind("DOMSubtreeModified", function() {
      $(".group1").colorbox({rel:'group1'});
    });
    </script>
  </div>
</div>


<%= render 'layouts/footer' %>
<% end %>
<%= render 'layouts/base' %>